@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
     font-family: 'Dancing Script', cursive;
    background-image: url('https://github.com/DiehanDrotschie/Troue/blob/main/pic1.jpg?raw=true');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.flip-card {
    background-color: transparent;
    width: 80%; /* Relative width */
    height: 60vh; /* Relative height based on the viewport height */
    perspective: 1000px;
    max-width: 550px; /* Maximum width to ensure it doesn't get too large on wider screens */
    max-height: 450px; /* Maximum height */
    margin: auto; /* To center the card in the container */
    margin-bottom: 70%;
}

/* Media query for smaller screens, like mobile devices */
@media only screen and (max-width: 600px) {
    .flip-card {
        width: 90%; /* Increase width on smaller screens */
        height: 50vh; /* Adjust height as needed */
    }

        body {
        background-size: auto; /* Example: Adjust background size on small screens */
        background-position: top ; /* Example: Adjust background position on small screens */
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.flip-card-front {
    background-color: #c0bf8d;
    color: black;
}

.flip-card-back {
    background-color: #c0bf8d;
    color: black;
    transform: rotateY(180deg);
}

h1 {
    padding: 12px;
    font-size: 32pt;
}

h2 {
    padding: 10px;
    margin-top: 10%;
    font-size: 22pt;

}
input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    width: 30%;
    margin-top: 9%;
    font-size: 16px;
}
 
#welcomeText{
    font-size: 26pt;
}

#userName{
    font-size: 26pt;
}

#Number {
    margin-top: 5%;
    font-size: 50pt;

}

.flip-card-back button {
    margin-top: 10%;
    width: 25%;
    height: 10%;
}

.flip-card-front button {
    margin-top: 1%;
    width: 25%;
    height: 10%;

}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}
